<div class="row box" ng-repeat="title in education">
	<div class="col-md-11 col-md-offset-1" >
		<div class="row">
			<div class="col-md-7">
				<section class="text-left">
					<h3>{{title.titulo}}</h3>
					<h4>{{title.universidad}}</h4>
					<p>{{title.inicio}} - {{title.fin}} <span id="currentPosition"></span></p>
				</section>
			</div>
			<div class="col-md-4">
				<span class="fa featured text-right">
					<img ng-src="{{title.logoUniversidad}}" alt="{{title.universidad}}" height="50px"/>
					<img ng-src="{{title.logoEscuela}}" alt="{{title.escuela}}" height="50px"/>
				</span>
			</div>
			<div class="col-md-9 col-md-offset-1 text-left">
				<div class="row">
					<div class="col-md-12">
						<p ng-repeat="paragraf in title.descripcion">
							{{paragraf}}
						</p>
						<h6 ng-show="title.cursos.length>0">The main subjects of the Telecom Engineering are:</h6>
					</div>
					<div class="col-md-11 col-md-offset-1">
						<ul class="work-tareas" ng-show="title.cursos">
							<li ng-repeat="curso in title.cursos">{{curso}}</li>
						</ul>
					</div>
					<div class="col-md-12">
						<h6>Final Degree Project</h6>
						<p ng-repeat="paragraf in title.proyecto">{{paragraf}}</p>
						<p>You can find more information in the <a href="#projects">Projects</a> section.</p>
					</div>
			</div>
		</div>					
	</div>
</div>